repositories:
- name: tacokumo
  url: https://tacokumo.github.io/helm-charts
- name: traefik
  url: https://traefik.github.io/charts

releases:
- name: traefik
  namespace: traefik-system
  createNamespace: true
  chart: traefik/traefik
  version: 31.1.1
  values:
  - values/traefik.yaml
- name: tacokumo-admin
  namespace: tacokumo-admin
  createNamespace: true
  chart: tacokumo/tacokumo-admin
  version: 0.2.2
  values:
  - values/tacokumo-admin.yaml
  - github:
      oauth:
        callbackUrl: "{{ .StateValues.githubOAuthCallbackUrl }}"
        org: "{{ .StateValues.githubOrg }}"
- name: portal-controller-kubernetes
  namespace: portal-controller-system
  createNamespace: true
  chart: tacokumo/portal-controller-kubernetes
  version: 0.3.1
  values: 
  - values/portal-controller-kubernetes.yaml
