apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: tacokumo-admin
  labels:
    app: postgresql
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: postgresql
